#!/usr/bin/env bash

# usr/pwd used for login without key and also to have sudo for non-root user
SSH_USR="user"
SSH_PWD="password"
SSH_KEY=true
# SSH_PORT=22
# SSH_OPTS="-p$SSH_PORT -oConnectTimeout=5 -oConnectionAttempts=10 -oStrictHostKeyChecking=no"
# SCP_OPTS="-P$SSH_PORT"
# SSH_CMD=ssh
# SCP_CMD=scp

#BASE_SERVER_FILE=servers.txt

# WRK dir path on servers
# WRK_PATH=~/.wrk-utils/

# send debug flag to stats script
# WRK_DEBUG=true

# enable livestats
WRK_LIVESTATS=false

# enable header logging
# WRK_LOGHEADERS=false

#SLACK_WEBHOOK="https://hooks.slack.com/services/..."

# will use when WRK_DEBUG is true
#SLACK_WEBHOOK_DBG="https://hooks.slack.com/services/..."

